nav{
    background:black;
    padding:1rem;
}

ul{
    display: flex;
    align-items: center;
}
li{
    margin:0.313rem;
    list-style-type: none;
}
a{
    text-decoration: none;
    color:white;
    cursor:pointer;
}
a:hover{
    text-decoration: underline;
    color:red;
}
@media (min-width:321px) {
    nav{
        height:10vh;
    }
}
@media (min-width:500px) {
    nav{
        font-size: 1.5rem;
    }
}